*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    112deg, 
    rgba(251, 185, 222, 1) 0%, 
    rgba(139, 247, 249, 1) 100%); 
}
.navbar{
display: flex;
align-items: center;
padding: 20px;
}
nav{
flex: 1;
text-align: right;

}
nav ul{
display: inline-block;
list-style-type: none; 
}
nav ul li {
display: inline-block;
margin-right: 20px;
}
a{
text-align: none;
color:black;
font-weight: bold;
}
.container{
max-width:1300px;
margin:auto;
padding-left: 25px;
padding-right: 25px;
}
a{
  text-decoration: none;
 }

        
    /* ------account-page------ */
    .account-page{
        padding: 50px 0;
    }
    .form-container{
        background: #fff;
        width: 300px;
        height: 400px;
        position: relative;
        text-align: center;
        padding: 20px 0;
        margin:auto;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    }
    .form-container span{
        font-weight: bold;
        padding: 0 10px;
        color:#555;
        cursor: pointer;
        width: 100px;
        display: inline-block;
    }
    .form-btn{
        display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top:130px; 
    transition: transform 1s; 
}
form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  background: #f5845e;
}

form .btn:focus{
  outline: none;

}

#LoginForm{
  left: -300px;
}

#RegForm{
  left:0; 
}

form a{
  font-size: 12px;

}
#Indicator{
  width: 100%;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top:8px;
  transform: translateX(80px);
  transition: transform 1s;
}

 @keyframes move {
      from {
        transform: translate(-50%, -55%)
        rotate(-25deg);
      }
    }
    
    /*Tablet ---- more 700 screen size*/
    @media only screen and( min-width:650px) and(max-device-width: 1200px){
      .container{
        font-size: 80px;
      }
    }
           
            
      
        /*Smartphone --- less than 600 screen size---- */
        @media only screen and(max-width:460px) {
          .row{
            text-align: center;
          }
          .col-2, .col-3, .col-4{
            flex-basis: 100%;
          }
          .single-product .row{
            text-align: left;
          }
          .single-product .col-2{
            padding: 20px 0;
          }
          .single-product h1{
            font-size: 26px;
            line-height: 32px;
          }
          .cart-info p{
            display: none;
          }
        }
          
