*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    112deg, 
    rgba(251, 185, 222, 1) 0%, 
    rgba(139, 247, 249, 1) 100%); 
}
.navbar{
display: flex;
align-items: center;
padding: 20px;
}
nav{
flex: 1;
text-align: right;

}
nav ul{
display: inline-block;
list-style-type: none; 
}
nav ul li {
display: inline-block;
margin-right: 20px;
}

a{
text-align: none;
color:black;
font-weight: bold;
}

.container{
max-width:1300px;
margin:auto;
padding-left: 25px;
padding-right: 25px;

}
.row {
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;

}
.col-1 {
  flex-basis: 50%;
  min-width: 300px;
  font-size: 30px;
  text-decoration: none;
  
  
}
/*  
ul li{
  text-decoration:none; // nao esta aplicando a funcao
  list-style-type: none;
   
}*/


.col-2 img{
  max-width:100%;
  padding: 50px 0; 
 
}

.social-media ul li a{
  display: flex;
  text-align: center;
  padding-top: 500px;
  padding-right:50px; 
  text-decoration: none; // nao esta funcionando  
}

.social-media a:hover{
  background-color: red ; // elementos nao esta funcionando nessa class
}

 ul li a {
  text-decoration: none; // nao este elemento nao funcao
  list-style-type: none;
 }

/*Tablet ---- more 700 screen size*/
@media only screen and( min-width:650px) and(max-device-width: 1200px){
  .container{
    font-size: 80px;
  }
}

 /*Smartphone --- less than 600 screen size---- */
 @media only screen and(max-width:460px) {
  
