*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(146deg, #FFE53B 6%, #FF2525 100%);
  padding-bottom: 0;
}
.navbar{
display: flex;
align-items: center;
padding: 20px;
}

nav{
flex: 1;
text-align: right;
}

nav ul{
display: inline-block;
list-style-type: none; 
}

nav ul li {
display: inline-block;
margin-right: 20px;
}

a{
text-align: none;
color:black;
font-weight: bold;
}

.container{
max-width:1300px;
margin:auto;
padding-left: 25px;
padding-right: 25px;

}
.row {
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;

}
.col-1 {
  flex-basis: 50%;
  min-width: 300px;
  font-size: 30px;
  text-decoration: none;
}
.col-2 img{
  max-width:100%;
  padding: 50px 0; 
 
}
.social-media ul{
  list-style: none;
}

.social-media ul li a{
  display: flex;
  text-align: center;
  padding-right:50px;    
}

/* .social-media ul li a:hover{ 
  background-color: rgb(206, 243, 244) ;
}*/

 ul li a {
  text-decoration: none; 
  list-style-type: none;
 }

/*Tablet ---- more 700 screen size*/
@media ( max-width:768px){
  .col-1{
   flex-basis: initial;
  }
}
@media ( max-width:650px){
  .row{
    flex-direction: column-reverse;
  }
}
/*Smartphone --- less than 600 screen size---- */
@media ( max-width:440px){
  .container{
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
}

@media ( max-width:390px){
  .navbar{
    padding:20px 0 0 0;
  }

  .navbar img{
    display: none;
  }

  nav ul li{
    margin-right: 10px;
  }
}



 
