*{
    box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    112deg, 
    rgba(251, 185, 222, 1) 0%, 
    rgba(139, 247, 249, 1) 100%); 
}
.navbar{
display: flex;
align-items: center;
padding: 20px;
}
nav{
flex: 1;
text-align: right;

}
nav ul{
display: inline-block;
list-style-type: none; 
}
nav ul li {
display: inline-block;
margin-right: 20px;
}
a{
text-align: none;
color:black;
font-weight: bold;
}
.container{
max-width:1300px;
margin:auto;
padding-left: 25px;
padding-right: 25px;

}







 
        /*cart items details*/

        .cart-page{
          margin: 80px auto;

        }
        .table{
          width: 100%;
          border-collapse: collapse;
        }
        
        .cart-info{
          display: flex;
          flex-wrap:wrap;
           
        }

        .cart-info img{
        max-width: 150px; max-height: 150px;
        }

        th{
          text-align: left;
          padding: 10px;
          color: black;
          /* background: ; */
          font-weight: normal;
        }

        td{
          padding: 10px 5px;
        }

        td input{
          width: 40px;
          height: 30px;
          padding: 5px;
        }
        
        td a{
          color: black;
          font-size: 15px;
          font-weight: bolder;
          text-decoration: none;
        }

        td img{
          width: 80px;
          height: 80px;
          margin-right:10px;
        }
        .total-price{
          display: flex;
          justify-content: flex-end;
        }

        .total-price table{
          border-top:3px  solid #f5845e;
          width: 100%;
          max-width: 400px;
        }

        td:last-child{
          text-align: right;
        }

        td:last-child{
          text-align: right;
        }

.pre-order{
  background:#f5845e;
  margin-left: auto;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  font: bold;
  border-radius: 50px 0 0 0;
  margin-bottom: -500px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  
}

svg{
  margin-right: 15px;
}

  /*Tablet ---- more 700 screen size*/
  @media only screen and( min-width:650px) and(max-device-width: 1200px){
    .container{
      font-size: 80px;
    }
  }
         
      /*Smartphone --- less than 600 screen size---- */
      @media only screen and(max-width:460px) {
        .row{
          text-align: center;
        }
        .col-2, .col-3, .col-4{
          flex-basis: 100%;
        }
        .single-product .row{
          text-align: left;
        }
        .single-product .col-2{
          padding: 20px 0;
        }
        .single-product h1{
          font-size: 26px;
          line-height: 32px;
        }
        .cart-info p{
          display: none;
        }
      }
        
        /*Smartphone --- less than 600 screen size---- */
        @media only screen and(max-width:460px) {
          .row{
            text-align: center;
          }
          .col-2, .col-3, .col-4{
            flex-basis: 100%;
          }
          .single-product .row{
            text-align: left;
          }
          .single-product .col-2{
            padding: 20px 0;
          }
          .single-product h1{
            font-size: 26px;
            line-height: 32px;
          }
          .cart-info p{
            display: none;
          }
        }
          
